/* Estilos para el contenedor del div */
.contenedor-usuarios {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 20px;
    height: 100vh; /* Altura completa de la ventana */

    max-width: 600px; /* Ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor */
    background-color: #f9f9f9; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  